langchain
langchain-core
langchain-community
langgraph
langchain-openai
langchain-huggingface

pypdf
python-docx
typing_extensions

pinecone
sentence-transformers
python-dotenv
"unstructured[all-docs]"
streamlit
gradio

